/* carousel item */

.slide {
  display: flex;
  padding: 2rem;
}

.title-link {
  transition: transform 300ms ease-in-out;
}

.title-link:hover {
  transform:scale(1.03);
}

.project-title {
  text-decoration: none;
  background-color: var(--primary);
  position: absolute;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}

ul li {
  list-style: none;
  margin: 1rem;
}

.slide ul {
  margin: auto;
  text-align: left;
}

.slide-img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
}

/* carousel item */