/* carousel item */

.slides {
  display: flex;
  transition: transform .5s;
  transform: translateX(calc(-100% * var(--current-slide)))
}

.slide {
  flex: 0 0 100%;
  display: flex;
  padding: 2rem;
}

.project {
  text-decoration: none;
  background-color: var(--primary);
  position: absolute;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}

ul li {
  list-style: none;
  margin: 1rem;
}

ul li b {
  color: var(--primary);
}

.slide ul {
  margin: auto;
  text-align: left;
}

.slide-img {
  max-width: 75%;
  height: auto;
}

/* carousel item */