/* resume */

a {
  text-decoration: none;
}

.resume-container {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

  .resume-header h1 {
    text-align: center;
    border-bottom: solid 1px var(--primary);
    padding: 1rem;
  }

  .resume-contact {
    border-bottom: solid 1px var(--primary);
    margin-bottom: 1rem;
  }

  .contact-info {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  
  .contact-info p a:hover {
    color: var(--primary);
  }  

  .resume-body {
    display: flex;
  }

  .skills {
    padding: 1rem;
  }

  .projects-card {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .projects-card p a:hover {
    color: var(--primary);
  }

  .projects-list {
    padding: 1rem;
  }

  .skills-info, 
  .languages-info,
  .education-info {
    margin: 1rem;
  }

  .languages-info p {
    margin: 1rem 0;
  }
  
  .employer-card, .education-card {
    margin: 1rem;
  }

  h4,
  p b {
    color: var(--primary)
  }
  
  .employer-card ul,
  .skills ul,
  .languages ul {
    margin: 1rem;
  }

  .experience-header, 
  .education-header, 
  .skills-header,
  .projects-header {
    border-bottom: 1px solid var(--primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  /* resume */

  /* media queries */

@media screen and (max-width: 1024px) {
  body {
    max-width: 90vw;
  } 

  .resume-body {
    display: flex;
    flex-direction: column;
  }

  .main-body {
    display: flex;
    flex-direction: column;
    margin: 3rem;
  }
    
  .qualifications {
    display: flex;
    flex-direction: row;
  }

  .skills,
  .languages {
    flex: 1;
    margin: 0 3rem;
  }

}

@media screen and (max-width: 425px) {
  body {
    max-width: 100vw;
  }

  .qualifications {
    display: flex;
    flex-direction: column;
  }

  .languages-info {
    display: flex;
    justify-content: space-evenly;
  }
}
  