/* about */

.flex-container {
    flex: 10;
    display: flex;
    align-items: center;
  }
  
  .name-container {
    flex: 1;
    height: 40vh;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid var(--primary);
  }
  
  .profession {
    margin: 15px;
  }
  
  .name {
    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    padding: 1rem;
  }
  
  .vertical-border {
    height: 40vh;
    border-right: 1px solid var(--primary);
  }
  
  .about-container {
    flex: 1;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about-container h3 {
    margin-bottom: 2rem;
  }
  
  .about-section {
    margin-left: 15px;
    font-size: 1.2rem;
  }

  /* about */