/* footer */

footer {
  flex: 1;
  border-top: 1px solid var(--primary);
  padding: 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1rem
}

.fa-icon {
  font-size: 1.5rem;
  color: var(--primary);
  transition: transform 300ms ease-in-out;
}

.fa-icon::after {
  transform: scale(1.5);
}

/* footer */
